    <div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="create-blog" class="button is-primary is-pulled-right">create blog post</button></a>
        
        <h2 class="title pb-4">dashboard: your blog posts</h2><hr>
{{#if blogs.length}}
    </div>

    {{#each blogs as |blog|}}
        {{> blogInfo blog}}
        
            <a href="/dashboard/edit/{{blog.id}}"><button class="button mb-5 ml-5 is-warning">edit blog post</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">you do not currently have any blog posts</h6>

{{/if}}
